.fondo{
    background : linear-gradient(rgb(208, 215, 219), white);
}

header{
    background-color: rgb(208, 215, 219);
}
footer{
    background-color: rgb(208, 215, 219);
}
.miTexto{
    font-family: Arial,  sans-serif;
    font-size: 2em;
    color: rgb(143, 142, 158);
}
.miBoton{
    /*border: 1px solid black;*/
    width: fit-content;
    padding: 3px;
    border-radius: 15%;
    
}
.miBoton:hover{
    background-color: rgb(168, 201, 219);
    color: white;
    text-decoration: none;
}

.miBoton:active{
    background-color: rgb(106, 178, 218);
}
#contenedor{
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#contenedor_imagenes{
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    align-items: center;
}